<% @page_title = 'Search quotes' %>
<div class="standard_one_col">

    <div class="cell_1">
        <%= render :partial => 'shared/page_heading' %>

        <%= render :partial => 'quote/projects/quote_search_container' %>

        <%=render :partial => 'shared/pagination/paginate', :object => @quotes %>

        <% if @quotes.present? -%>
            <ul class="inline_content_list">
                <% @quotes.each do |quote|%>
                    <%= render :partial => 'display_quote_list', :locals => {:quote => quote} %>
                <% end -%>
            </ul>
            <div class="clearing"></div>
        <% else -%>
            <p>No quotes found.</p>
        <% end -%>

        <%=render :partial => 'shared/pagination/paginate', :object => @quotes%>
    </div>
</div>