<!DOCTYPE html>
<html>
    <head>
        <title><%=front_metadata_title%></title>
        <meta name="description" content="<%=metadata_description%>"/>
      
        <%= stylesheet_link_tag    "profile_admin" %>
        <%= javascript_include_tag "profile_admin" %>
      
        <%= csrf_meta_tags %>

        <meta content="noindex, nofollow" name="robots">
        
    </head>
    <body id="<%=body_id%>">