<%= render :partial => 'shared/pagination/paginate', :object => @clients %>
<% @clients.order(:name).each do |client| %>
  <h2 class="client_name"><%= client.name %></h2>
  <div class="outline_container">
    <table class="results_table client_utilisation">
      <tr class="heading_table">
        <th class="align_center">Project</th>
        <th class="align_center">Time worked</th>
        <th class="align_center">Estimated expected invoice</th>
        <th class="align_center">Actual invoice</th>
        <th class="align_center">Comparison</th>
      </tr>
      <% client.projects.each do |project| %>
        <tr>
          <td class="align_left">
            <strong><%= link_to project.name, '#', class: :project_link, data: { project_id: project.id } %></strong>
          </td>
          <% mins_tracked = project.timings.submitted_timings.where(started_at: @time_filters[:start_date]...@time_filters[:end_date]).map(&:duration_minutes).sum %>
          <td><%= link_to "#{ (mins_tracked.to_s.to_d / @account.account_setting.working_day_duration_minutes).round(2) } days", track_project_path(project) %></td>
          <td><%= formated_in_default_currency project.expected_invoice_amount_cents_for_period(@time_filters[:start_date], @time_filters[:end_date]) %></td>
          <td><%= link_to "#{ formated_in_default_currency Invoice.amount_cents_invoiced_for_period_and_project(project.id, @time_filters[:start_date], @time_filters[:end_date]) }", invoice_project_invoices_path(project) %></td>
          <% project_comparison = Invoice.amount_cents_invoiced_for_period_and_project(project.id, @time_filters[:start_date], @time_filters[:end_date]) - project.expected_invoice_amount_cents_for_period(@time_filters[:start_date], @time_filters[:end_date]) %>
          <td class="comparison <%= project_comparison >= 0 ? 'positive' : 'negative' %>">
            <%= formated_in_default_currency project_comparison %>
          </td>
        </tr>

        <% users = User.includes(:timings)
                       .group('users.id')
                       .order('users.firstname')
                       .where(['timings.project_id = ? AND timings.submitted = ?', project.id, true]) %>
        <% users.each do |user| %>
          <% user_timings = user.timings.submitted_timings.where(project_id: project.id, started_at: @time_filters[:start_date]...@time_filters[:end_date]) %>
          <% if user_timings.present? %>

            <tr data-project-id="<%= project.id %>" class="team_user_view id_<%= project.id %>" style="display:none;">
              <td style="text-indent:20px;"><%= link_to user.name, track_timings_path(user_id: user.id, user_view: 1) %></td>
              <td><%= (user_timings.map(&:duration_minutes).sum.to_s.to_d / @account.account_setting.working_day_duration_minutes).round(2) %> days</td>
              <td><%= formated_in_default_currency project.expected_invoice_amount_cents_for_period(@time_filters[:start_date], @time_filters[:end_date], user.id) %></td>
              <td>
                <% percentage_of_time = user_timings.map(&:duration_minutes).sum.to_f / mins_tracked.to_f %>
                <% actual_invoice = percentage_of_time * Invoice.amount_cents_invoiced_for_period_and_project(project.id, @time_filters[:start_date], @time_filters[:end_date])
                   %>
                <%= formated_in_default_currency actual_invoice %>
              </td>
              <% user_comparison = actual_invoice - project.expected_invoice_amount_cents_for_period(@time_filters[:start_date], @time_filters[:end_date], user.id) %>
              <td class="comparison <%= user_comparison >= 0 ? 'positive' : 'negative' %>">
                <%= formated_in_default_currency user_comparison %>
              </td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    </table>
  </div>
<% end %>
<%= render :partial => 'shared/pagination/paginate', :object => @clients %>
