<%=content_tag_for(:li, client) do%>
    <div class="inner_client_container">
        <span class="name"><%=link_to truncate(client.name, :length => 25), client_path(client), :class => 'grey_link'%></span>
        <span class="client_stats">Number of projects: <%=link_to client.projects.length, projects_path(:client_id => client.id, :archived => 2)%></span>
        <%= link_to 'Edit', edit_client_url(:id => client, :protocol => ssl_link), :class =>'edit_button' if policy(client).create? %>
        <% if !client.archived? && policy(client).update? %>
            <%=link_to 'Archive', archive_client_path(client), :method => :put, :class => 'archive_button', :data => {:confirm => 'Are you sure you want to archive this client?'}, :title => 'Archive'%>
        <%end-%>
        <div class="clearing"></div>
    </div>
<%end%>