    <div class="outer_contaner" id="footer_outer">
        <div class="inner_container" id="footer_inner">
            <div class="footer_left">
                <span>FleetSuite</span>
            </div>
            <div class="footer_right">
                <ul>
                    <li><%=link_to 'Home', root_path%></li>
                    <li><%=link_to 'schedule tour', scheduling_tool_path%></li>
                    <li><%=link_to 'Contact Us', 'http://help.fleetsuite.com'%></li>
                    <li><%=link_to 'Pricing & signup', pricing_path%></li>
                    <li><%=link_to 'Privacy policy', privacy_path, :rel => 'nofollow'%></li>
                    <li><%=link_to 'Terms of use', terms_path, :rel => 'nofollow'%></li>
                </ul>
            </div>
            <div class="clearing"></div>
        </div>
    </div>

</div>