<div class="search_container">
    <h3>Filter results</h3>
    
    <%=form_tag search_link, :method => :get  do %>
        
        <div class="form_row">
            <div class="form_text">
                <%=label_tag 'name'%>
            </div>
            <div class="form_field">
                <%=text_field_tag :name, params[:name], :class => 'text'%>
            </div>
            <div class="clearing"></div>
        </div>

        <% if !@account.clients.blank? %>
            <div class="form_row">
                <div class="form_text">
                    <%= label_tag 'client_id' %>
                </div>
                <div class="form_field">
                    <%= select_tag :client_id, 
                                   options_for_select(@account.clients.name_ordered.collect {|p| [ p.name, p.id ] }, 
                                   params[:client_id]), 
                                   :prompt => 'Select client...' %>
                </div>
                <div class="clearing"></div>
            </div>
        <%end-%>

        <div class="form_row">
            <div class="form_text">
                <%= label_tag 'status' %>
            </div>
            <div class="form_field">
                <%= select_tag :status, options_for_select( Project::STATUSES.map { |s, v| [v, s] }.unshift(['All open', :open]), params[:status]) %>
            </div>
            <div class="clearing"></div>
        </div>

        <div class="submit_container">
            <%= submit_tag 'Search now', :class => 'submit' %>
        </div>
    <%end-%>
</div>
