<div class="total_cost_section">
    <h3 class="underline">Total cost</h3>
    
    <div class="form_row">
        <div class="form_text">
            Extra cost
        </div>
        <div class="form_field label_text">
            <span class="cost"><%=formated_in_default_currency quote.extra_cost_cents.present? ? quote.extra_cost_cents : 0 %></span>
            <%if quote.extra_cost_title.present?%><span> - <%=quote.extra_cost_title%></span><%end-%>
        </div>
        <div class="clearing"></div>
    </div>
    
    <%=render :partial => 'quote/quotes/total_cost_excl', :locals => {:quote => quote}%>

    <div class="form_row">
        <div class="form_text">
            Discount
        </div>
        <div class="form_field label_text">
            <%=quote.discount_percentage_out%>%
        </div>
        <div class="clearing"></div>
    </div>

    <div class="form_row">
        <div class="form_text">
            Tax rate
        </div>
        <div class="form_field label_text">
            <%=quote.vat_rate_out%>%
        </div>
        <div class="clearing"></div>
    </div>
    
    <%=render :partial => 'quote/quotes/total_cost_incl', :locals => {:quote => quote}%>
    
    <div class="form_row">
        <div class="form_text">
            Quote Currency
        </div>
        <div class="form_field">
            <div class="label_text"><%=quote.currency.upcase%></div>
            
            <%=render :partial => 'quote/quotes/total_report_currency', :locals => {:quote => quote}%>
        </div>
        <div class="clearing"></div>
    </div>
</div>