<div class="schedule_calendar_options_container">

    <%= shift_calendar_link @cal, :back,    { user_view: "1", shift_days: 7, user_id: params[:user_id] } %>
    <%= shift_calendar_link @cal, :forward, { user_view: "1", shift_days: 7, user_id: params[:user_id] } %>

    <%=form_tag request.path, :method => :get, :class => 'submit_form' do -%>

        <div class="col_1">

            <%= hidden_field_tag(:user_view, '1') %>

            <% if has_permission?('account_holder || administrator') -%>
                <div class="filter_selection">
                    <label for="user_id" class="label">User:&nbsp;</label>
                    <div class="select_container">
                        <%=select_tag 'user_id', options_from_collection_for_select(@account.users.not_archived.name_ordered, "id", "name", params['user_id'].to_i), :class => 'submit_on_change'%>
                    </div>
                </div>
            <%else-%>&nbsp;<%end-%>

        </div>

        <div class="col_2">
            <%=link_to '#', id: 'select_calendar', class: 'calendar_link' do %>
                <%= image_tag('tool/icons/calendar_32.png', :size => '32x32', :alt => 'Select dates', :class => 'update_calendar_dates padding_right_10') %>
                <span class="label_text">
                    <u>
                        <%= fmt_long_date(@cal.start_date) %>
                    </u>
                </span>
            <% end %>

            <div id="date_range_selection_background" class="date_range_selection_background" style="display: none;"></div>

            <div class="date_range_selection single_date_range_selection">
                <div class="inner_date_range_selection">
                    <span class="large_blue_narrow">Start date:</span>
                    <div id="from_date" class="calendar_containers"></div>
                    <div class="clearing"></div>

                    <%=hidden_field_tag 'start_date', @cal.start_date, :id => 'start_date_range'%>

                    <div class="submit-wrapper">
                        <input type="submit" class="submit" value="Apply" />
                        or
                        <a class="cancel">Cancel</a>
                    </div>
                </div>
            </div>
            <div id='timer-toggle'>
                <div id='status'></div>
                <div id='duration'></div>
            </div>
        </div>
        <div class="clearing"></div>
    <%end-%>
</div>

<div id="track_calendar_container" 
    data-startdate="<%= @cal.start_date %>" 
    data-enddate="<%= @cal.end_date %>" 
    data-userid="<%=@user.id%>"
    data-working-day-start-time="<%= @account.account_setting.working_day_start_time %>"
    data-working-day-end-time="<%= @account.account_setting.working_day_end_time %>"
    data-admin="<%= has_permission?('account_holder || administrator') %>"
    data-commonprojectid="<%=@account.account_setting.common_project_id%>"
        <%@account.account_setting.common_project.tasks.each do |task|-%>
            <%="data-task#{task.name.gsub(/[\W_]+/, '')}id"-%>="<%=task.id-%>"
        <%end-%>>

    <div id="title_grid">
        <div class="empty_container">&nbsp;</div>
        <%((@cal.start_date - 1) .. @cal.end_date).inject do |init, current_date| -%>
                <div class="day_container header" data-date="<%= current_date %>">
                <span class="date_number"><%=fmt_date_day_date(current_date)%></span>

                <% if has_permission?('account_holder || administrator') ||
                   !is_time_submitted?(current_date, @user.id) -%>
                  <div class="selector"></div>

                  <div class="select_options">
                    <ul>
                      <li><a class="do_clear" href="#">Clear</a></li>
                      <li><a class="do_copy" href="#">Copy Day</a></li>
                      <%- if @user.has_component?(1) %>
                          <li>
                              <a class="do_reset" href="#">
                                  Reset from schedule
                              </a>
                          </li>
                      <%- end %>
                    </ul>
                  </div>
                <% end %>
            </div>
        <%end -%>
        <div class="clearing"></div>
    </div>

    <div id="track_calendar">
        <div class="modal_overlay"></div>
        <div id="timing_grid">
            <div id="inner_timing_grid">
                <div class="top_guide"></div>
                <div id="time_container_outer">
                    <%0.upto(23) do |number| -%>
                        <div class="time_container_inner">
                        <%=number%>:00
                        </div>
                    <%end-%>
                </div>

                <%((@cal.start_date - 1) .. @cal.end_date).inject do |init, current_date| -%>
                    <div class="day_container column"
                        data-submitted="<%= is_time_submitted?(current_date, @user.id) %>"
                        data-column-date="<%= current_date%>"></div>
                <%end -%>
            </div>

        </div>
    </div>

    <div id="bottom_grid">
        <div class="empty_container">&nbsp;</div>
        <%((@cal.start_date - 1) .. @cal.end_date).inject do |init, current_date| -%>
            <div class="day_container summary" data-date=<%= current_date %>>
                <div class="day_statistics" data-date=<%= current_date %> data-expected-timings=<%= @account.account_setting.expected_minutes_worked(current_date) %>></div>
                <%if is_time_submitted?(current_date, @user.id) -%>
                    <div class="submitted"></div>
                <%else-%>
                    <%= submit_tag 'Submit day', :class => 'submit', :confirm => 'Are you sure you want to submit?', :id => 'day_submit_button' %>
                <%end-%>
            </div>
        <%end -%>
        <div class="clearing"></div>
    </div>
</div>

<script>
    $(document).ready(function(){
        Track.initTimesheetView();
    });
    $(window).focus(function() {
        Track.highlight_today();

        if((window.Track.timer != undefined || window.Track.timer.get('date').getDate() != new Date().getDate()) && window.Track.timer.featureStatus == true) {
            window.Track.timer.reset();
        }
    });
</script>
